@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --myfont: 'Poppins', sans-serif;
    --first-color: #ffffec;
    --second-color: #f1e4c3;
    --third-color: #c6a969;
    --Fourth-color: #597e52;
}

* {
    color: #ffffff;
    font-family: var(--myfont);
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1c;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    font-weight: normal;
    line-height: normal;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1;
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    outline: none !important;
}

.btn-box {
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 16px;
    background-image: url(../image/btn.png);
    background-size: 50px 100%;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-box:hover {
    background-size: 200px 100%;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

/* Sekeleton */
.header_section {
    background-color: #ffffff;
    background-image: url(../image/bg.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
}

.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

.navbar .main-nav {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 10px 50px -3px rgba(0, 0, 0, 0.2);
}
.navbar .navbar-nav .nav-link {
    color: #1c130f;
    font-size: 1rem;
    padding: 0px 12px;
}

/* content */

.banner_section {
    padding-top: 30px;
    width: 100%;
    float: left;
}
.banner_section .row img {
    width: auto;
}

.banner_taital_main {
    color: #000000;
    width: 100%;
    float: left;
}
.banner_taital {
    line-height: 80px;
    width: 100%;
    font-size: 68px;
    font-weight: 800;
}
.banner_text {
    color: #000000;
    width: 100%;
    float: left;
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
}
.banner_section .banner_taital_main .btn-box {
    border: 2px solid #ff5105;
    background-size: 90px 100%;
    color: #000000;
    margin-top: 12px;
}
.banner_section .banner_taital_main .btn-box:hover {
    background-size: 200px 100%;
}
.services .icon {
    border-radius: 16px;
    width: 80px;
    background-color: #252530;
}
.services .icon i {
    font-size: 2rem;
    color: white;
}
.wrapper {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}
@keyframes scrollLeft {
    to {
        left: -200px;
    }
}
.item {
    width: 250px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.item h1 {
    font-size: 2.6rem;
    font-weight: 600;
}
.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
/* about section */
.about_section .about_banner img {
    border-radius: 12px;
}
.about_section .about_banner h1 {
    font-size: 2rem;
    font-weight: 700;
}

/* ---------------------------- RESPONSIVE ------------------------------------ */
@media only screen and (max-width: 767px) {
    .header_section {
        background-color: #ffffff;
        background-image: url(../image/bg.png);
        height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        float: left;
    }
    .navbar .navbar-brand {
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
    }

    .navbar .navbar-nav {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
    }
    .navbar-toggler {
        background-color: #000000;
    }

    .navbar .navbar-nav .nav-link {
        color: #1c130f;
        font-size: 1rem;
        padding: 0px 12px;
    }
    .banner_section {
        width: 100%;
        float: left;
    }
    .banner_taital {
        line-height: 60px;
        width: 100%;
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 12px;
    }
    .banner_text {
        color: #000000;
        width: 100%;
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
